*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #0e0e0e;
  color: #fff;
  font-family: 'Roboto Condensed', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

a {
  color: inherit;
  text-decoration: none;
}

h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-page {
  padding: 100px 0;
}

.title {
  text-align: center;
  margin-bottom: 100px;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}

.header {
  background-image: url('../images/header-bg.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: cover;
  text-align: center;
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #0e0e0e 0%,
    rgba(17, 17, 17, 0.85) 16.53%,
    rgba(32, 31, 33, 0) 100%
  );
  transform: rotate(-180deg);
}

.menu {
  padding: 50px 0 58px;
  background: linear-gradient(180deg, #111213 0%, #111213 43.62%, rgba(32, 31, 33, 0) 86.33%);
}

.menu-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  /* padding: 50px 0 58px;
  background: linear-gradient(180deg, #111213 0%, #111213 43.62%, rgba(32, 31, 33, 0) 86.33%); */
  margin-bottom: 178px;
}

.menu-list-link {
  font-size: 36px;
  line-height: 42px;
}

.menu-list-link:hover {
  color: rgb(133, 204, 220);
  text-decoration: underline;
}

.about-inner {
  display: flex;
}

.about-info {
  width: 375px;
  margin-right: 50px;
  flex: none;
}

.about-info-item {
  margin-bottom: 25px;
  color: #e5e5e5;
}

.about-info-item span {
  display: block;
}

.about-text p {
  margin-bottom: 25px;
}

.slogan {
  background-image: url('../images/slogan-bg.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: right;
}

.slogan-text {
  font-style: italic;
  font-weight: 300;
  font-size: 72px;
  line-height: 84px;
  color: #85ccdc;
  padding-top: 444px;
  margin-bottom: 40px;
}

.slogan-text span {
  display: block;
  padding-right: 317px;
}

.slogan-btn {
  padding-left: 112px;
  position: relative;
  margin-right: 266px;
}

.slogan-btn::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  top: -40px;
  background-image: url('../images/slogan-youtube-icon.svg');
}

.seasons-title {
  margin-bottom: 171px;
}

.seasons-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px 75px;
  counter-reset: counter;
}

.seasons-item {
  width: 350px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seasons-item:hover .seasons-link {
  opacity: 1;
}

.seasons-item:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(14, 14, 14, 0.8);
}

.seasons-item::before {
  content: '0' counter(counter);
  counter-increment: counter;
  position: absolute;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  color: #600e09;
  left: 0;
  top: -72px;
  z-index: -1;
}

.seasons-link {
  font-size: 36px;
  line-height: 42px;
  padding: 12px 78px 11px;
  background-color: #0e0e0e;
  opacity: 0;
  transition: all 0.3s;
  z-index: 2;
}

.heroes-inner {
  display: flex;
  justify-content: space-between;
}

.heroes-slider-img {
  max-width: 775px;
}

.heroes-slider-text {
  max-width: 350px;
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.slick-prev {
  left: 38px;
}

.slick-next {
  right: 38px;
}

.heroes-name {
  font-style: italic;
  font-weight: 300;
  font-size: 72px;
  line-height: 84px;
  color: #85ccdc;
  margin-bottom: 44px;
}

.heroes-text p {
  margin-bottom: 15px;
}

.copyright {
  text-align: center;
  padding: 14px 0 15px;
}

/* ***** season-1 ***** */
.menu-list-link-active {
  color: rgb(133, 204, 220);
  text-decoration: underline;
}

.page-header {
  background-image: url('../images/season1/header-bg.jpg');
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.page-logo {
  position: absolute;
}

.season-info {
  position: absolute;
  max-width: 1385px;
  display: flex;
  padding: 44px 47px 64px 35px;
  background-color: #0e0e0e;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.season-info-num {
  font-weight: 700;
  font-size: 96px;
  line-height: 60px;
  text-align: center;
  margin-right: 51px;
}

.season-info-num span {
  display: block;
  font-size: 36px;
  line-height: 42px;
}

.season-info-text p {
  margin-bottom: 15px;
}

.menu-container {
  max-width: 1385px;
  margin: 0 auto;
  position: relative;
}
